body{
    margin: 0;
    padding: 0;
}
header, footer{
min-height: 100px;
background-color: palegoldenrod;
}
a {
    font-size: 30px;
}
main{
    min-height: 450px;
    background-color: palegreen;
}
main div{
    width: 200px;
    height: 200px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Creative-Tail-Animal-mouse.svg/128px-Creative-Tail-Animal-mouse.svg.png);
    background-repeat: no-repeat;
}
/* for 650px device size and over */ 
@media screen and (min-width:650px){
    main{
        background-color: palegoldenrod;
    }
    footer, header{
        background-color: palevioletred;
    }
    main div{
        background: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Borneoelephants.jpg);   
    }
}
@media screen and (min-width:700px) and (max-width:900px){
    main{
        background-color: aqua;
    }
}
@media print{
    a::after{
      content: " <" attr(href) ">";
    }
  }

/* 
1 default
2 device size is 650px and over
3 device size is 900px and over
4 device size is 1200 and over 
--------------------------------
1 default css without any media 
2 media with min-width of 650px
3 media with min-width of 900px
4 media with min-width of 1200px
 */
