body {
    font-size: 18px;
}

header,
footer {
    background-color: #A3C4BC; width: 220px;
}

.site-title {
    color: #173753;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}


ul{ 
    list-style-type: square;
}

li:nth-child(odd){
    background-color: #E6E1C5; width: 150px;
}

nav{
a:link { 
    text-decoration: none; 
    border-style: solid;
    background-color: #EFBC9B;
} 
  a:hover { 
    background-color: #CBF3F0;
  } 
}

