.container {
    /* margin: 0px 10px; */
    margin: 0 auto;
    color: #222;
    align-items: center;
 

}

.banner {
    background-color: #c78c06;
    
}

nav {
    background-color: #222;
    color: #c78c06;
    width:100%;
    padding-bottom: 10px;
}


nav {
    text-align: center;
    width: 100%;

    a:link {
        color: #c78c06;
        text-decoration: none;
    }

    a:visited {
        color: #c78c06;
        text-decoration: none;
    }

    a:active {
        color: #c78c06;
        text-decoration: none;
    }

    a:hover {
        background-color: #c78c06;
        color: #222;
        width: 100%;
    }
}

.search {
    align-items: center;
    align-content: center;
}

#home {
    background-image: url(../images/main-banner.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.home {
    /* height: 100%; */
    margin: 0 auto;
    padding: 15rem 2rem;
    background-color: hsla(0, 0%, 13%, 0.5);
    color: aliceblue;
    align-items: center;

}

.home button {
    /* margin: 45px auto; */
    background-color: #c78c06;
    padding: 10px 10px;

}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;

}

#aboutus {
    background-color: #ffe6ac;
    padding: 10px 10px;
    /* width: 500px; */
    align-content: center;
    margin-bottom: 25px;
}

.aboutus {
    padding: 10px auto;
}

#services {
    /* width: 100%; */
    padding: 0 10px;
    align-items: center;
}

.digital {
    background-color: #ffe6ac;
    margin: 10px auto;

    /* padding: 0 10px; */
    h2 {
        font-size: 2rem;
    }
}

.dig {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.marketing {
    background-color: #ffe6ac;
    margin: 10px auto;
}

.mar {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.video {
    background-color: #ffe6ac;
    margin: 10px auto;
}

.vid {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.web {
    background-color: #ffe6ac;
    margin: 10px auto;
}

.we {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.print {
    background-color: #ffe6ac;
    margin: 10px auto;
}

.pri {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.john {
    margin: 10px auto;
    background-color: #ffe6ac;
}

.jinfo {
    padding: 20px 10px;

    h2 {
        font-size: 1.5rem;
    }
}

.bob {
    margin: 10px auto;
    background-color: #ffe6ac;
}

.binfo {
    padding: 20px 10px;

    h2 {
        font-size: 1.5rem;
    }
}

th {
    background-color: #ffe6ac;
}

footer {
    background-color: #222;
    color: #c78c06;
}

footer {
    a:active {
        color: #c78c06;
    }

    a:visited {
        color: #c78c06;
    }

    a:hover {
        color: #c78c06;
    }

    a:link {
        color: #c78c06;
    }
}

button {
    padding: 20px 35px;
    background-color: #222;
    color: white;
    font-size: 1.2rem;

}

#team {
    padding: 0 10px;
}

.contact button {
    padding: 5px 5px;
    color: #c78c06;
    display: block;

}

.contact {
    align-items: center;

    label {
        display: block;
    }

    input,
    textarea {
        width: 90%;
    }
}

.vision button {
    border: #c78c06 solid 1px;
    margin-top: 10px;
}

.vision {
    background-image: url(../images/vision.jpg);
    color: white;
    background-size: cover;
    height: auto;
    padding: 50px 10px;

    p {
        padding-top: 10px;
    }
}

.schedule-table {
    width: 100%;
    text-align: left;

    thead th {
        background-color: #ffe8a1;
        padding: 10px;
        border: 1px solid black;
    }

    tbody td {
        padding: 10px;
        border: 1px solid black;
    }

    tbody tr td:first-child {
        text-align: left;
    }

    tbody tr td:last-child {
        text-align: left;
    }

    thead {
        text-align: center;
    }
}
