/* this code is made by Alysha Austin  */
html {
    font-family: 'Nunito Sans', sans-serif;
    hr {
        border-top: 2px solid darkorange;
    }

    h1,
    h2,
    h3 {
        font-weight: 900;

    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;

    }

    p {
        font-size: 18px;
    }

}

.container {
    width: 100%;
    color: #222;
    align-items: center;
    justify-content: center;
}

/*yellow continuation for banner*/
.banner {
    border: #222 solid 10px;
    background-color: #c78c06;
}

.logo-two {
    display: none;
}

nav {
    background-color: #222;
    color: #c78c06;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    line-height: 1.8;
    font-size: 1.5rem;

    a:link {
        color: #c78c06;
        text-decoration: none;
    }

    a:visited {
        color: #c78c06;
        text-decoration: none;
    }

    a:active {
        color: #c78c06;
        text-decoration: none;
    }

    a:hover {
        background-color: #c78c06;
        color: #222;
        width: 100%;
    }
}

/* this is for the search box */
.search {
    align-items: center;
}

/* this is the magnifying glass icon */
nav .fa-solid {
    border: #c78c06 solid 1px;
}

/* Home section */
#home {
    background-image: url(../images/main-banner.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;

}

.home {
    margin: 0 auto;
    padding: 15rem 0;
    color: aliceblue;
    align-items: center;
    font-size: 20px;

    h1 {
        font-size: 5rem;
    }
}

/* this is for the transparent background in the home section  */
.homeback {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 150px 0;
    width: 100%;
}

.home button {
    background-color: #c78c06;
    padding: 25px 25px;
    color: #222;
    align-content: center;
}

/* this is for the buttons in "our services" */
button {
    padding: 30px 30px;
    background-color: #222;
    color: white;
    font-size: 1.2rem;

}

/* About us section */
#aboutus {
    background-color: #ffe6ac;
    padding: 10px 10px;
    align-content: center;
    margin-bottom: 25px;
}

.aboutus {
    padding: 10px;

}

/* start of "our services" */
#services {
    padding: 0 20px;
    align-items: center;
    align-content: center;
}

/* digital transformation section */
.digital {
    background-color: #ffe6ac;
    margin: 10px auto;

}

.digital h2 {
    font-size: 2rem;
}

.digital-info {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

/* marketing section */
.marketing {
    background-color: #ffe6ac;
    margin: 10px auto;
}

.marketing h2 {
    font-size: 2rem;
}

.marketing-info {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

/* video production section */
.video {
    background-color: #ffe6ac;
    margin: 10px auto;

}

.video h2 {
    font-size: 2rem;
}

.video-info {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.video button {
    margin-top: 10px;
}

/* web devlopment section */
.web {
    background-color: #ffe6ac;
    margin: 10px auto;
}

.web h2 {
    font-size: 2rem;
}

.web-info {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.web button {
    margin-top: 10px;
}

/* print section */
.print {
    background-color: #ffe6ac;
    margin: 10px auto;
}

.print h2 {
    font-size: 2rem;
}

.print-info {
    padding: 0 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.print button {
    margin-top: 10px;
}

/* section for "our vision */

.vision button {
    border: #c78c06 solid 1px;
    margin-top: 20px;
}

.vision {
    background-image: url(../images/vision.jpg);
    color: white;
    background-size: cover;
    height: auto;
    padding: 50px 10px;
    margin: 20px 0;

}

.vision p {
    padding-top: 10px;
}

/* start of our team" */
#team {
    padding: 10px 10px;
}

/* john's section */
.john {
    margin: 10px auto;
    background-color: #ffe6ac;
}

.jinfo {

    h2,
    h3 {
        line-height: 1.5;
    }

    padding: 20px 10px;

    h2 {
        font-size: 1.5rem;
    }
}

/* bob's section */
.bob {
    margin: 10px auto;
    background-color: #ffe6ac;
}

.binfo {

    h2,
    h3 {
        line-height: 1.5;
    }

    padding: 20px 10px;

    h2 {
        font-size: 1.5rem;
    }
}

/* contact section */
.contact button {
    padding: 5px 5px;
    color: #c78c06;
    display: block;

}

.contact {
    width: 100%;
    padding: 15px 20px;
    line-height: 1.5;

    label {
        display: block;
    }

    input,
    textarea {
        width: 90%;
    }
}

/* hours of operation schedual */
.schedule-table {
    width: 95%;
    text-align: left;
    margin: 0 auto;

    thead th {
        background-color: #ffe8a1;
        padding: 10px;
        border: 1px solid black;
    }

    tbody td {
        padding: 10px;
        border: 1px solid black;
    }

    tbody tr td:first-child {
        text-align: left;
    }

    tbody tr td:last-child {
        text-align: left;
    }

    thead {
        text-align: center;
    }
}

.hours {
    margin: 15px 0;

    h1 {
        padding: 10px 20px;
    }
}

/* location section */
.location {
    padding: 5px 20px;
    h1{
        padding:10px 0;
    }
}

/* fotter section */
footer {
    background-color: #222;
    color: #c78c06;
    padding: 50px 15px;
}

footer {

    /* for the link to unsplash */
    a:active {
        color: #c78c06;
    }

    a:visited {
        color: #c78c06;
    }

    a:hover {
        color: #c78c06;
    }

    a:link {
        color: #c78c06;
    }
}

/* everything after this will apear when the screen is 760 pixles or bigger */
@media screen and (min-width: 760px) {
    .container {
        max-width: 1200px;
        align-items: center;
        justify-content: center;
        
    }

    /* navagation section */
    nav ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        align-items: center;
    }

    nav ul li a {
        color: #c78c06;
        font-size: 1.2rem;
        text-decoration: none;
    }

    /* taking away the orange from the banner */
    .banner {
        display: none;
    }

    /* putting the logo in a new place */
    .logo-two {
        display: initial;
    }

    /* float for about us */
    #aboutus {
        padding: 10px 30px;

        img {
            width: 350px;
            float: left;
            margin-right: 10px;
        }
    }

    /* clearfix is like a reset for after float */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    /* grid for "our services" */
    #services{
        h1{
            margin:0 25px;
            padding:10px 0;
        }
    }
    .grid {
        align-items: center;
        margin: 0 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "digital digital digital marketing marketing marketing"
            "video video web web print print";

        .digital {
            margin: 0 10px;
            grid-area: digital;
        }

        .marketing {
            margin: 0 10px;
            grid-area: marketing;
        }

        .video {
            margin: 0 10px;
            grid-area: video;
        }

        .web {
            margin: 0 10px;
            grid-area: web;
        }

        .print {
            margin: 0 10px;
            grid-area: print;
        }
    }
    .vision-info{
        margin: 0 20px;
    }

    /* float the team pics */
    #team {
        margin: 0 20px;
        .john-pic {
            width: 50%;
            float: left;

        }

        .bob-pic {
            width: 50%;
            float: right;
        }
    }

    /* clearfix is like a reset for after float */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    /* grid for the last 3 things on the page */
    .grid-three {
        width: auto;
        margin: 0 auto;
        align-items: center;
        margin: 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "contact location"
            "hours hours";

        .contact {
            height: 350px;
            grid-area: contact;
        }

        .location {
            height: 350px;
            grid-area: location;

        }

        .hours {
            grid-area: hours;
           
        }

    }
    footer p{
        margin:0 20px;
    }
}